.field--type-entity-list .field-remove-submit {
  float: right;
  height: 20px;
  width: 20px;
  background: url('/core/misc/icons/787878/ex.svg') no-repeat center;
  background-size: 13px 13px;
  border: none;
  font-size: 0;
  line-height: 0;
  text-align: left;
  text-transform: lowercase;
  transition: opacity 200ms;
  opacity: 0.5;
}

.field--type-entity-list .field-remove-submit:hover,
.field--type-entity-list .field-remove-submit:focus,
.field--type-entity-list .field-remove-submit:active {
  opacity: 1;
  background: url('/core/misc/icons/787878/ex.svg') no-repeat center;
  background-size: 13px 13px;
  box-shadow: none;
  border: none;
}

.field--type-entity-list .field-remove-submit:disabled,
.field--type-entity-list .field-remove-submit:disabled:active,
.field--type-entity-list .field-remove-submit.is-disabled,
.field--type-entity-list .field-remove-submit.is-disabled:active {
  z-index: -1;
  background-color: transparent;
}

.field--type-entity-list .field-remove-submit ~ .ajax-progress.ajax-progress-throbber {
  margin-right: -24px;
  width: 20px;
  height: 20px;
  float: right;
  z-index: 999;
}

.field--type-entity-list .field-remove-submit ~ .ajax-progress-throbber .message {
  display: none;
}
